/* for over 400px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #222222;
  text-decoration: none;
  font-weight: normal;
}
a:hover {
  color: #c11107;
}

#currentpage {
  color: #d2514a;
}
.navbar {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eee;
  padding: 2vh 5vw;
  border-bottom: 2px #c11107 solid;
}
.logo {
  flex-grow: 1;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.item {
  flex: 1;
  font-size: 1.3rem;
  padding: 5px;
  text-transform: uppercase;
}
.mainsection {
  flex: 1;
  background-image: linear-gradient(#ddd, #eee);
}
.maincontent {
  font-family: 'Alegreya', serif;
  line-height: 1.6em;
  margin: auto;
  max-width: 70%;
  padding: 3vh 5vw;
}
.mainfooter {
  display: flex;
  background-color: #eee;
  color: #aaa;
  padding: 2vh 5vw;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 632px) {
  .navbar {
    flex-direction: column;
  }
  .logo {
    flex-grow: 2;
  }
  .items {
    flex-shrink: 1;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar {
  }
  .logo {
  }
  .items {
  }
}
